<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<menuitem id="menu_contratti_root"
			  name="Contratti"
			  sequence="0"/>
	
	<menuitem id="menu_contratti_master"
			  name="Dettaglio Contratto"
			  parent="menu_contratti_root"
			  sequence="0"/>

	<menuitem id="menu_contratti"
			  name="Contratto"
			  
			  parent="menu_contratti_master"
			  sequence="0"/>
</odoo>